.wishlist .main_banner{
    height: 350px;
    background: url('../../home/homeImages/1.jpg');
}
.btn-cart {
    background-color: #E73737 !important;
    border:1px solid #E73737 !important;
    color: #fff !important;
    border: none;
    font-weight: 600 !important;
    height: 3rem;
}
.btn-cart:hover {
    background-color: #fff !important;
    color: #E73737 !important;
}