.brands .main_banner{
    height: 350px;
    background: url('../../home/homeImages/1.jpg');
}

.brand_container{
    width: 100%;
    height: 100px;
}
.brand_logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid grey;
}
.bg_brand{
    background-color: black;
}
.bg_brand .custom_text {
    color: #fff;
}

.bg_brand .product_hr_left{
    border: 1px solid #fff;
}
.bg_brand .top_product{
    padding-top: 30px !important;
}

.brand_item_div{
    width: 100%;
    height: 150px;
    
}
.brand_item_img{
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    object-fit: cover;

}

.bg_product_container{
    background-color: #181818;
    padding-top: 80px;
    padding-bottom: 80px;
}

@media (max-width: 767px) {
    .brand_container{
        margin-bottom: 15px;
    }
}
.brand_carousel_container .carousel-indicators li{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 20px;
    
}
.brand_carousel_container .carousel-indicators{
    margin: 4px;
}
.bg_brands_div .bg_product_container .top_selling h2 {
    background: #181818;
    color: #fff;
    
}
.bg_brands_div .bg_product_container .top_selling:before {
    background: #dddddd75;
}
.css-1s2u09g-control {
    background: transparent !important;
}

.bg_brands_div .filter_by p {
    color: #fff;
}